@{
    ViewBag.Title = "SBOL-FLIP";
}

<div class="click panel circle">
		<div class="front">
			<h2>1. September</h2>
		</div>
		<div class="back">
			<h2>8. September</h2>
		</div>
	</div>